:host{
    height: 200px;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    direction: rtl;
    border-radius: 15px;
    border: 1px gray solid;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 12px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
    & > *{
        width: 100%;
    }
}
.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    border-bottom: 1px gray solid;
    margin-bottom: 5px;
    .search-bar{
        width: 70%;
        height: clamp(15px,50%,20px);
        margin-right: 10px;
        background-color: rgb(245, 244, 244);
        box-sizing: border-box;
        border-radius: 5px;
        border: none;
        outline: none;
    }
}
.options{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & >*{
        width: 95%;
    }
}
.footer{
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
    margin-bottom: 5px;
    & > *{
        width: 30px;
        margin: 7px;
        border-radius: 5px;
        padding: 0 5px;
        text-align: center;
        cursor: pointer;
    }
    .select{
        background-color: rgb(83, 195, 233);
        color: white;
    }
    .abort{
        border: 1px  rgb(83, 195, 233) solid;
        color:  rgb(83, 195, 233);
    }
}




