<div class="header">
  <div class="search-bar-wrapper">
    <input
      [(ngModel)]="searchValue"
      (ngModelChange)="onSearchValueChange()"
      class="search-bar"
      placeholder="חיפוש"
    />
    <div
      [ngClass]="{ hidden: !displayAddOption }"
      class="add-btn"
      (click)="addSearchOption()"
    >
      +
    </div>
  </div>
</div>
<div class="options">
  <app-generic-search-option
    *ngFor="let option of matchingOptions"
    [option]="option"
    [isFavoriteSearch]="isFavoriteSearch"
    [isMultiChoise]="isMultiChoise"
    [isFavorite]="option.isFavorite ?? false"
    (onFavoriteChange)="onFavoriteOptionChange($event)"
  >
  </app-generic-search-option>
</div>
<div class="footer">
  <div class="abort">בטל</div>
  <div class="select">בחר</div>
</div>
