:host {
    display: flex;
    align-items: center;
    cursor: default;
    width: 100%;

    .title {
        margin-right: 5px;
    }

    .star {
        margin-right: auto;
        margin-left: 5px;
        width: 15px;
        height: 15px;
        cursor: pointer;
        stroke: 1px gray;
    }
}
